<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
<form (submit)="onAddPost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
    <mat-form-field>
        <input 
            type="text" 
            matInput
            name='title'
            [ngModel]="post?.title"
            minlength='3'
            placeholder="Post Title"
            #title='ngModel'
            required>
            <mat-error *ngIf="title.invalid">Please Enter Title with atleast 3 character long!</mat-error>
    </mat-form-field>
    <div>
        <button mat-stroked-button color='primary' type="button" (click)="filepicker.click()">Pick Image</button>
        <input type="file" #filepicker>
    </div>
        <mat-form-field>
            <textarea 
                matInput 
                rows="3"
                name='content' 
                [ngModel]="post?.content"
                required
          olor='primary'   placeholder="Post Content"
                #content='ngModel'
                >
            </textarea>
            <mat-error *ngIf="content.invalid">Please Enter Content!</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button
            color='primary'
            type="submit">Save Post</button>
</form>
</mat-card>