
<mat-toolbar color='primary'>
  <a routerLink="/"><span>MyMessages</span></a>
  <span class="spacer"></span>
  <ul>
    <li *ngIf="userIsAuthenticated">
      <a mat-button routerLink='/create' routerLinkActive='mat-accent'>New Post</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink='/login' routerLinkActive='mat-accent'>Login</a>
    </li>
    <li *ngIf="!userIsAuthenticated">
      <a mat-button routerLink='/signup' routerLinkActive='mat-accent'>Signup</a>
    </li>
    <li *ngIf="userIsAuthenticated">
      <button mat-button >Logout</button>
    </li>

  </ul>
  <span></span>
</mat-toolbar>